<div>
  {{if isUnlocked 'Unlocked!' ''}}
</div>

{{#if isLoading}}
  <p>
    Loading...
  </p>
{{else}}
  <table align="center">
    <tr>
      {{lockscreen-digit digit=0 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=1 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=2 inputDigit=(action 'inputDigit')}}
    </tr>
    <tr>
      {{lockscreen-digit digit=3 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=4 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=5 inputDigit=(action 'inputDigit')}}
    </tr>
    <tr>
      {{lockscreen-digit digit=6 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=7 inputDigit=(action 'inputDigit')}}
      {{lockscreen-digit digit=8 inputDigit=(action 'inputDigit')}}
    </tr>
  </table>
{{/if}}

{{#if isPatternSaved}}
  <button class="btn btn-default" {{action 'resetPattern'}}>Reset</button>
{{else}}
  <button class="btn btn-default" {{action 'savePattern'}}>Save</button>
{{/if}}

<button class="btn btn-default" {{action 'resetInput'}}>Clear</button>
