<div>
  {{if isUnlocked 'Unlocked!' ''}}
</div>

<table align="center">
  <tr>
    {{lockscreen-digit
      digit=0
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=1
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=2
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
  </tr>
  <tr>
    {{lockscreen-digit
      digit=3
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=4
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=5
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
  </tr>
  <tr>
    {{lockscreen-digit
      digit=6
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=7
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
    {{lockscreen-digit
      digit=8
      hasDigitSelected=hasDigitSelected
      isTouching=isTouching
      inputDigit=(action 'inputDigit')
      setTouching=(action 'setTouching')
      clearInput=(action 'clearInput')
    }}
  </tr>
</table>

{{#if isPatternSaved}}
  <button class="btn btn-default" {{action 'resetPattern'}}>Reset</button>
{{else}}
  <button class="btn btn-default" {{action 'savePattern'}}>Save</button>
{{/if}}

<button class="btn btn-default" {{action 'clearInput'}}>Clear</button>
